.pw {
	position: relative;
	display: block;
	padding: 1.25rem;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.125);
	width:95%;
}
.pw-wrapper{
	width:700px;
	margin : 0 auto;
	padding : 20px 0;
}
.pw-wrapper p{
	font-size: .8em;
}
.pw-background{
	background-color: #e3e7ea;
	height:200px;
	width:100%;	
}
.txt-i {
    background: url(../image/blt_02.png?v=8cf7ee7…) no-repeat 4px 18px;
    background-size: 2px;
    position: relative;
    color: #666;
    padding: 10px;
}
.btn_join {
    width: 100%;
    height: 40px;
    border-radius: 0;
    background-color: #fa0050;
    font-size: 15px;
    color: #fff !important;
    margin-top: 7px;
}