.user-wrapper{
    width: 700px;
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 35px;
}
.user-wrapper img{
    width: 250px;
}
.user-wrapper button{
    width: 100%;
}
.menu-title{
    font-size: 1.2em;
    padding: 10px 0;
}