<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="footer-wrapper">
            <div class="footer-menu">
                <div class="menu-item"><a href="">이용약관</a></div>
                <div class="menu-item"><a href="">개인정보처리방침</a></div>
                <div class="menu-item"><a href="">포인트정책</a></div>
                <div class="menu-item"><a href="">회사소개</a></div>
                <div class="menu-item"><a href="">요기요사장님</a></div>
                <div class="menu-item"><a href="">입점문의</a></div>
                <div class="menu-item"><a href="">공지사항</a></div>
                <div class="menu-item"><a href="">FAQ</a></div>
            </div>
            <div class="footer-container">
                <div class="footer-title">요기요</div>
                <div class="company-info">
                    <div class="company-title">주식회사 위대한 상상</div>
                    <p>
                        <strong>주식회사 위대한상상</strong>
                        <br>서울시 서초구 서초대로38길 12 마제스타시티 타워2 17층
                        <span class="bar">|</span>대표이사 : 전준희<span class="bar">|</span>
                        사업자등록번호:211-88-68802
                        <a href="http://www.ftc.go.kr/bizCommPop.do?wrkr_no=2118868802" rel="noopener noreferrer" target="_blank" class="biz-info" ng-show="!is_mobile_device">사업자정보확인</a> 통신판매업신고:제 2018-서울서초-2635호<span class="bar">|</span>개인정보담당자 :<a href="mailto:privacy@yogiyo.co.kr">privacy@yogiyo.co.kr</a><span class="bar">|</span>제휴문의 : <a href="mailto:partnership@yogiyo.co.kr">partnership@yogiyo.co.kr</a><span class="bar">|</span>고객만족센터 :<span ng-show="is_mobile_width" class="pnum ng-hide">1661-5270(유료) 24시간, 연중무휴</span> <a href="mailto:support@yogiyo.co.kr">support@yogiyo.co.kr</a>
                        <span class="bar">|</span>호스팅 제공자: 카페24 주식회사</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>