<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="https://www.yogiyo.co.kr/mobile/image/favicon.ico">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
<link rel="stylesheet" href="/css/company.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/footer.css">
<script defer src="/js/company.js"></script>
<title>요기요</title>
</head>
<body>
	<div th:replace="~{layout/header}"></div>
	<div class="company-logo"></div>
	<div class="restaurant-wrapper">
		<div class="restaurant-menu">
			<div class="restaurant-item"></div>
			<div class="restaurant-item">전체보기</div>
			<div class="restaurant-item">1인분 주문</div>
			<div class="restaurant-item">프렌차이즈</div>
			<div class="restaurant-item">치킨</div>
			<div class="restaurant-item">피자/양식</div>
			<div class="restaurant-item">중국집</div>
			<div class="restaurant-item">한식</div>
			<div class="restaurant-item">일식/돈까스</div>
			<div class="restaurant-item">족발/보쌈</div>
			<div class="restaurant-item">야식</div>
			<div class="restaurant-item">분식</div>
			<div class="restaurant-item">카페/디저트</div>
			<div class="restaurant-item">편의점/마트</div>
		</div>
	</div>
	<main>
		<div class="list-option">
			<select name="list" id="">
				<option value="basic" selected="selected">기본 정렬순</option>
				<option value="like">별점 순</option>
				<option value="review">리뷰 많은순</option>
			</select>
		</div>
	</main>
	<div class="restaurant-list" th:each="vo:${vo}">
		<div class="list-item">
			<div class="item-img">
				<img th:src="${vo.company_logo}" alt="">
			</div>
			<div class="list-container">
				<div class="item-title">[[${vo.company_name}]]</div>
				<div class="stars">
					<span> <span class="ico-star1 ng-binding">★ 4.7</span>
					</span> <span class="review_num ng-binding"> 리뷰 1473 </span> <span
						class="review_num ng-binding"> 사장님댓글 246 </span>
				</div>
				<ul class="restaurant-info">
					<li class="payment-methods ng-binding yogiseo-payment">요기서결제</li>
					<li class="min-price ng-binding">16,000원 이상 배달</li>
					<li class="full-w">
						<span class="coupon-base ng-binding">5,000원 할인</span> 
						<span class="coupon-base coupon-style1 ng-binding ng-hide">추가할인 0%</span> 
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div th:replace="~{layout/footer}"></div>
</body>
</html>