<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://www.yogiyo.co.kr/mobile/image/favicon.ico">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
	<script defer src="https://developers.kakao.com/sdk/js/kakao.js"></script>
	<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.2/kakao.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@1.7.5/dist/axios.min.js"></script>
	<link rel="stylesheet" href="/css/findPassword.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/footer.css">
    <title>요기요</title>
</head>
<body>
	<input type="hidden" id="msg" th:value="${msg}" />
    <div th:replace="~{layout/header}"></div>
    <div class="pw-background">
	    <div class="pw-wrapper">
	    <form action="/reset-password" method="post">
	    	<input class="pw" type="text" name="email" placeholder="요기요에 가입한 이메일 주소 입력" value="noua026@gmail.com"/>
	    	<p class="txt-i pwd-txt">입력하신 이메일 주소로 비밀번호 재설정 메일이 발송됩니다.</p>
	    	<p class="txt-i">소셜 계정 회원은 비밀번호 찾기가 불가능합니다.</p>
	    	<button type="submit" class="btn btn_join">이메일 발송</button>
	    </form>
	    </div>
    </div>
    <div th:replace="~{layout/footer}"></div>
</body>
</html>